* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

ol {
    font-weight: bold;
}

li::before {
    content: "";
    margin-left: 10px;
}

#statusBar {
    display: flex;
    justify-content: space-between;

}

form {
    display: flex;
    justify-content: center;
    
}

#highScores {
    min-width: 150px;
    font-weight: bold;
    font-size: 20px;
}

#highScores a {
    color: rgb(0, 89, 255);
    text-decoration: none;
}

#time {
    min-width: 200px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

#result {
    color: rgb(0, 89, 255);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#complete {
    color: rgb(0, 89, 255);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#startBtn {
    font-weight: bold;
}

#startBtnBox {
    display: flex;
    justify-content: center;
}

#questionField {
    text-align: center;
}

#initials {
    width: 20%;
    padding: 10px 20px;
    margin: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
  }

  #submit {
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
  }

li button,
#startBtn {
    background-color: rgb(0, 89, 255);
    border-style: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 15px;
    max-width: fit-content;
    padding: 13px;
    text-align: center;
    margin-top: 10px;
}

.card {
    display: block;
    background-color: #FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 10px;
    box-shadow: black 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
    height: 470px;
}

@media screen and (max-width: 992px) {

    body {
        background-color: #FFFFE0;        
    }

    .card {
        background-color: #FFFFE0;
        border: none;
        border-radius: none;
        box-shadow: none;
    }
}